.sticky {
  animation-duration: 1s;
  background-color: #fff;
  @include transition;
}

.fixed {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
  background: #fff;
}

/******** Top Navbar **********/
.top-navbar {
  background-color: #f7f8fa;
  font-size: 14px;
  padding: 6px 0px;
  border: 1px solid #e0e0e0;

  a {
    color: $font-color;
  }

  .icon {
    color: $primary-color;
    font-size: 16px;
    margin-right: 5px;
  }

  .sell-btn {
    border: 1px solid #000;
    padding: 1px 9px;
    border-radius: 14px;
    font-weight: 600;

    &:hover {
      background: $primary-color;
      color: #fff;
    }
  }
}

/********* Middle Navbar ***********/
.middle-navbar {
  padding: 20px 0;

  .logo {
    margin-right: 15px;
    margin-top: -11px;
  }
}

/* Dropdown Menu */
.dropdown-container {
  list-style: none;
  text-align: right;

  .my-dropdown {
    display: inline-block;
    margin-right: 35px;
    position: relative;

    &:last-child {
      margin-right: 15px;
    }

    &:hover {
      .cart-dropdown-menu {
        display: block;
      }
    }
  }
}

/*** cart side nav ***/
.cart-side-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  height: 100vh;
  background-color: #fff;
  height: 100vh;
  @include transition;
}

.cart-side-nav-wrapper {
  padding: 20px 25px 20px;
}

.cart-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 15px;

  span {
    font-size: 16px;
    font-weight: 600;
    color: #143250;
    cursor: pointer;
  }
}

/*End*/
.cart-dropdown-menu {
  width: 300px;
  position: absolute;
  top: 100%;
  right: -65px;
  border: 0px;
  padding: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 3px 25px #00000026;
  box-shadow: 0px 3px 25px #00000026;
  background: #fff;
  z-index: 5555;
  display: none;

  .cart-dropdown-menu-wrapper {
    padding: 20px 25px 20px;
    max-height: 400px;
    overflow-y: auto;
  }
}

.cart-header {
  @include d-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 8px;

  span {
    font-size: 13px;
    font-weight: 600;
    color: #143250;
  }
}

.cart-products {
  padding-left: 0px;
  margin-bottom: 0px;
  display: block;
  width: 100%;

  .product {
    @include d-flex;

    justify-content: space-between;
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 15px 0px 15px;
    margin-right: 0px;

    .product-details {
      text-align: left;
      @include d-flex;
      -ms-flex-item-align: center;
      align-self: center;
      justify-content: space-between;
      width: 100%;

      .content {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;

        .product-title {
          font-size: 13px;
          text-transform: capitalize;
          margin-bottom: 0px;
          font-weight: 600;
          color: #143250;

          .product-info {
            font-size: 12px;
          }
        }
      }

      .product-image {
        margin-bottom: 0px;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.15);

        img {
          max-width: 100px;
        }

        .cart-remove {
          position: absolute;
          top: -10px;
          right: -10px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #fff;
          -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
          z-index: 2;
          font-size: 12px;
          font-weight: 700;
          line-height: 20px;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
}

.dropdown-cart-total {
  @include d-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 5px;
  font-size: 14px;

  .cart-total-price {
    font-size: 14px;
    font-weight: 600;
  }
}

.drop-down-btn {
  padding-top: 10px;
  text-align: center;
}

/* Search Box */
.search-box-wrapper {
  .search-box {
    width: 100%;
    border: 2px solid $primary-color;
    border-radius: 6px;
    display: flex;
    height: 42px;
  }

  .category-wrapper {
    width: 160px;
    border-right: 1px solid lighten($color: $primary-color, $amount: 25);
    height: 37px;
  }

  .category {
    height: 100%;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 14px;
    line-height: 50px;
    color: #333;
    margin: 0 5px;
  }

  select {
    &:focus {
      outline: none;
      border: none;
      cursor: pointer;
    }
  }

  .search-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 38px;

    input {
      width: 100%;
      border: 0px;
      background: none;
      padding: 0px 60px 0px 22px;
      font-size: 14px;

      &:focus {
        outline: none;
        border: none;
      }
    }

    button {
      border: none;
      outline: none;
      display: inline-block;
      padding: 0px 25px;
      color: #fff;
      font-size: 22px;
      background: $primary-color;
    }
  }
}

/* icon style */
.icon-wrapper {
  position: relative;
  cursor: pointer;

  .icon {
    font-size: 25px;
  }

  img {
    width: 33px;
    margin-top: -11px;
  }

  .cart-quantity {
    background: $primary-color;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    color: #fff;
    text-align: center;
    position: absolute;
    top: -1px;
    right: -10px;
    font-size: 13px;
  }
}

@include media-breakpoint-down(md) {
  .icon-wrapper {
    .icon {
      font-size: 23px;
    }

    .cart-quantity {
      width: 20px;
      height: 20px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .icon-wrapper {
    .icon {
      font-size: 20px;
    }

    .cart-quantity {
      width: 18px;
      height: 18px;
      font-size: 12px;
    }
  }

  .search-box-wrapper {
    margin-bottom: 10px;

    .category-wrapper {
      display: none;
    }

    .search-form {
      button {
        padding: 0 15px;
      }
    }
  }
}

/**************** Navbar Bottom ******************/
.main-menu {
  background-color: #0a2138;
  padding: 0px 0px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);

  .nav-link {
    color: #fff;
    font-size: 15px;
  }
}

.category-menu-container {
  position: relative;

  &:hover {
    .category-nav-menu {
      visibility: visible;
      opacity: 1;
    }

    .category-list-wrapper {
      visibility: visible;
      opacity: 1;
    }
  }
}

.category-nav {
  background: $primary-color;
  cursor: pointer;
  display: flex;
}

.category-title {
  padding: 0px 15px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  .bars {
    font-size: 20px;
    margin-right: 10px;
  }

  .arrow-down {
    text-align: right;
    width: 100%;
    margin-left: auto;
    display: inline-block;
    font-size: 30px;
  }
}

.category-nav-menu {
  background: #fff;
  width: 100%;
  top: 100%;
  z-index: 9;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  @include transition;

  .category-list-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.08);
    display: block;
    visibility: hidden;
    opacity: 0;

    .dropdown-list {
      line-height: 40px;
      padding: 0 10px;
      font-size: 14px;
      font-weight: 600;
      color: #333;
      cursor: pointer;
      position: relative;
      @include transition;

      &:hover {
        padding-left: 20px;

        .category-mega-menu {
          visibility: visible;
          // display: block;
          left: 100%;
          @include transition;
        }
      }

      a {
        @include d-flex;
      }

      .category-icon {
        margin-right: 5px;
      }

      .link-area {
        @include d-flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
      }
    }
  }
}

.category-mega-menu {
  position: absolute;
  width: 215px;
  top: 0;
  left: 110%;
  padding: 16px 15px 0;

  z-index: 9;
  background: #fff;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  visibility: hidden;
  transition: none;
  // display: none;

  li {
    // width: 50%;
    // float: left;
    // padding: 0px 5px 20px 5px;
    &:nth-last-of-type() {
      a {
        border-bottom: 2px solid green;
      }
    }
    > a {
      border-bottom: 1px solid #e5e5e5;
      display: block;
      margin-bottom: 6px;
      line-height: 30px;
      padding-bottom: 6px;
      font-size: 14px;
      font-weight: 600;
      color: #444;

      // &:last-child {
      //   border-bottom: 2px solid green;
      // }
      // &:nth-last-child() {
      //   border-bottom: 2px solid green;
      // }
      // &:nth-last-of-type() {
      //   border-bottom: 2px solid green !important;
      // }
    }

    .categorie-sub-menu {
      a {
        font-size: 14px;
        font-weight: 400;
        color: #646464;
        text-transform: capitalize;
        line-height: 28px;
        display: block;
        // @include transition;

        &:hover {
          padding-left: 10px;
        }
      }
    }
  }
}

/******* Mobile Navbar Top *********/
.moblie-nav-section {
  background: #fff;
}

.mobile-nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.mobile-nav-button {
  background-color: transparent;
  border: none;
}

.mobile-nav-login-link {
  margin-top: 13px;
  border: 1px solid #959595;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  border-radius: 50%;
}

button.mobile-nav-button:focus {
  border: none;
  outline: none;
}

.mobile-nav-icon {
  width: 110px;
}

/***** Mobile Navbar Bottom ******/
.fixed-nav-bottom {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.mobile-bottom-menu {
  background: #fff;
  box-shadow: 0px 1px 2px 1px grey;
}

.bottom-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-text {
  font-weight: 600;
  font-size: 15px;
  color: #444;
  display: block;
}

.botttom-menu-img {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 11px;
  margin-top: -40px;
  margin-left: -14px;
}

.bottom-menu-item img {
  width: 35px;
}

/******* user ******/
.mobile-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 22px;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
}

.icon-button {
  background-color: #b4b4b4bd;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.dropdown {
  position: absolute;
  top: 40px;
  width: 275px;
  transform: translateX(-45%);
  background-color: #f7f8fa;
  border: 1px solid #6c757d8f;
  border-radius: 4px;
  padding: 0.5rem 0.7rem;
  overflow: hidden;
  transition: height 500ms ease;
  z-index: 5555;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background 500ms;
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #d5d5d5;
}

.icon-right {
  margin-left: auto;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all 500ms ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all 500ms ease;
}

/******* Side Navbar **********/
.side-menu-overlay {
  background-color: rgba(85, 85, 85, 0.452);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 20;
  height: 100vh;
  @include transition;
  overflow-y: hidden;
}

.side-menu {
  background-color: #fff;
  width: 320px;
  height: 100vh;
  overflow: auto;
}

.side-menu::-webkit-scrollbar {
  display: none;
}

.side-menu-top {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.2), 0 -1px 5px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  width: inherit;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background: #fff;
}

.navbar-brand-icon {
  width: 100px;
}

.times-icon {
  font-size: 25px;
  cursor: pointer;
}

.side-menu-login {
  border: 1px solid #e0e0e0;
  margin: 10px;
  border-radius: 5px;
  margin-top: 130px;
}

.side-menu-login .side-menu-img {
  text-align: center;
  padding: 15px 20px;
  border-bottom: 1px solid #e0e0e0;
}

.side-menu-login .side-menu-img img {
  width: 30px;
}

.side-menu-login-btn {
  padding: 15px 20px;
}

.side-menu-link {
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.side-menu-link-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

.side-menu-link-item:hover {
  background-color: #f7f8fa;
}

.customer-service {
  display: flex;
  padding: 15px 20px;

  img {
    height: 32px;
    width: 32px;
    margin-right: 14px;
    margin-top: 10px;
  }
}

.customer-service-img {
  width: 30px;
  margin-right: 14px;
}

.customer-service-text span {
  font-size: 14px;
}

.customer-service-text h4 {
  font-size: 18px;
}

.side-menu-links {
  font-size: 14px;
  padding: 15px 20px;
}

.side-menu-links a {
  color: gray;
}

.side-menu-links a:hover {
  color: #222;
}

@media (max-width: 575.98px) {
  .side-menu {
    width: 100%;
  }

  .cart-side-nav {
    width: 100%;
  }
}

/************* Search Result *************/
.search__section {
  position: relative;
}
.search__result {
  border: 1px solid #dbdbdb;
  position: absolute;
  top: 51px;
  z-index: 5555;
  background: #fff;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 1px;
  border-radius: 5px;
  width: 100%;
}

.search__not__found {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.search__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.search__result::-webkit-scrollbar {
  width: 8px;
}
.search__result::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #858585;
}
.search__result::-webkit-scrollbar-track {
  background-color: #dddddd;
}
.search__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #ececec;
  padding: 6px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 5px;
  margin-right: 5px;
}
.search__item__image {
  width: 70px;
  margin-right: 10px;
}
.search__item__image img {
  width: 70px;
}
